.faq-wrapper .faq-bg
{
    background: url(../../img/pages/faq.png) repeat !important;
}

.faq-wrapper .faq-search .faq-search-input
{
    margin-bottom: 1.25rem;
}
.faq-wrapper .faq-search .faq-search-input input
{
    background-color: #fff;
}

@media (max-width: 991.98px)
{
    .faq-wrapper .faq-search .faq-search-input
    {
        width: 75% !important;
    }
}

@media (max-width: 767.98px)
{
    .faq-wrapper .faq-search .faq-search-input
    {
        width: 100% !important;
    }
}

.faq-wrapper .faq-search button
{
    top: .36rem; 
    left: .4rem;
}

@media (max-width: 575.98px)
{
    .faq-wrapper .faq-search button
    {
        padding: .65rem 1.3rem;
    }
}

.faq-wrapper .faq .wrapper-content
{
    display: none;
}
.faq-wrapper .faq .wrapper-content.active
{
    display: block;
}
.faq-wrapper .faq .wrapper-content .collapse-icon.accordion-icon-rotate:not(.left) .card-header
{
    padding-left: 3.5rem !important;
}

@media (max-width: 575.98px)
{
    .faq-wrapper .faq-title
    {
        font-size: 2rem;
    }
    .faq-wrapper .faq-subtitle
    {
        font-size: 1.5rem;
    }
}
