/* Shadows (from mdl http://www.getmdl.io/) */
.wrapper.show-overlay .content-overlay
{
    z-index: 16;

    opacity: 1;
}

.wrapper .content-overlay
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: visible; 

    width: 100%;
    height: calc(100% + 54px);

    cursor: pointer;
    -webkit-transition: all .7s;
            transition: all .7s;

    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
}

.w-100
{
    width: 100% !important;
}

.h-100
{
    height: 100% !important;
}

.mx-auto
{
    margin-right: auto !important; 
    margin-left: auto !important;
}

a
{
    cursor: pointer;
}

.fonticon-wrap
{
    float: right;

    width: 2%;
    margin: .25rem;
}
.fonticon-wrap i.fa
{
    font-size: 1.35rem !important;
}

.round
{
    border-radius: 1.5rem;
}

.square
{
    border-radius: 0;
}

img.img-border
{
    border: 5px solid #fff;
}

ul.no-list-style
{
    list-style: none;
}

.shadow-z-1
{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}

.shadow-z-1-hover
{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.shadow-z-2
{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.shadow-z-3
{
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.shadow-z-4
{
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21);
}

.shadow-z-5
{
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
}

.big-shadow
{
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
}

.shadow-big
{
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.shadow-big-navbar
{
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, .42), 0 3px 20px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.sidebar-shadow
{
    box-shadow: -6px 0 20px 0 rgba(25, 42, 70, .35);
}

.card-shadow
{
    box-shadow: 8px 8px 14px 0 rgba(25, 42, 70, .11);
}

.cursor-pointer
{
    cursor: pointer;
}

.cursor-move
{
    cursor: move;
}

.cursor-default
{
    cursor: default;
}

.cursor-progress
{
    cursor: progress;
}

.cursor-not-allowed
{
    cursor: not-allowed;
}

.cursor-grab
{
    cursor: -webkit-grab;
    cursor:         grab;
}

.overflow-x-scroll
{
    overflow-x: scroll;
}

.overflow-y-scroll
{
    overflow-y: scroll;
}

.bullets-inside
{
    list-style: inside;
}

.list-style-circle
{
    list-style: circle;
}

.list-style-square
{
    list-style: square;
}

.list-style-icons
{
    margin-right: 0;
    padding-right: 10px;

    list-style: none;
}
.list-style-icons > li i
{
    float: right;

    width: 1em;
    margin: 5px 0 0 12px;
}

.border-2
{
    border: 2px solid;
}

.border-top-2
{
    border-top: 2px solid;
}

.border-bottom-2
{
    border-bottom: 2px solid;
}

.border-left-2
{
    border-right: 2px solid;
}

.border-right-2
{
    border-left: 2px solid;
}

.border-3
{
    border: 3px solid;
}

.border-top-3
{
    border-top: 3px solid;
}

.border-bottom-3
{
    border-bottom: 3px solid;
}

.border-left-3
{
    border-right: 3px solid;
}

.border-right-3
{
    border-left: 3px solid;
}

.no-border-top-radius
{
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important;
}

.no-border-bottom-radius
{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.no-border-top-left-radius
{
    border-top-right-radius: 0 !important;
}

.no-border-top-right-radius
{
    border-top-left-radius: 0 !important;
}

.no-border-bottom-left-radius
{
    border-bottom-right-radius: 0 !important;
}

.no-border-bottom-right-radius
{
    border-bottom-left-radius: 0 !important;
}

.box-shadow-0
{
    box-shadow: none !important;
}

.box-shadow-1
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.box-shadow-2
{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.box-shadow-3
{
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.box-shadow-4
{
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21);
}

.box-shadow-5
{
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
}

.fit
{
    max-width: 100% !important;
}

.half-width
{
    width: 50% !important;
}

.full-width
{
    width: 100% !important;
}

.full-height
{
    height: 100% !important;
}

.full-height-vh
{
    height: 100vh !important;
    height: calc(var(--vh, 1vh) * 100) !important;
}

.width-50
{
    width: 50px !important;
}

.width-100
{
    width: 100px !important;
}

.width-150
{
    width: 150px !important;
}

.width-200
{
    width: 200px !important;
}

.width-250
{
    width: 250px !important;
}

.width-300
{
    width: 300px !important;
}

.width-350
{
    width: 350px !important;
}

.width-400
{
    width: 400px !important;
}

.width-450
{
    width: 450px !important;
}

.width-500
{
    width: 500px !important;
}

.width-550
{
    width: 550px !important;
}

.width-600
{
    width: 600px !important;
}

.width-650
{
    width: 650px !important;
}

.width-700
{
    width: 700px !important;
}

.width-750
{
    width: 750px !important;
}

.width-800
{
    width: 800px !important;
}

.width-5-per
{
    width: 5% !important;
}

.width-10-per
{
    width: 10% !important;
}

.width-15-per
{
    width: 15% !important;
}

.width-20-per
{
    width: 20% !important;
}

.width-25-per
{
    width: 25% !important;
}

.width-30-per
{
    width: 30% !important;
}

.width-35-per
{
    width: 35% !important;
}

.width-40-per
{
    width: 40% !important;
}

.width-45-per
{
    width: 45% !important;
}

.width-50-per
{
    width: 50% !important;
}

.width-55-per
{
    width: 55% !important;
}

.width-60-per
{
    width: 60% !important;
}

.width-65-per
{
    width: 65% !important;
}

.width-70-per
{
    width: 70% !important;
}

.width-75-per
{
    width: 75% !important;
}

.width-80-per
{
    width: 80% !important;
}

.width-90-per
{
    width: 90% !important;
}

.width-95-per
{
    width: 95% !important;
}

.height-0
{
    height: 0 !important;
}

.height-50
{
    height: 50px !important;
}

.height-75
{
    height: 75px !important;
}

.height-100
{
    height: 100px !important;
}

.height-150
{
    height: 150px !important;
}

.height-200
{
    height: 200px !important;
}

.height-250
{
    height: 250px !important;
}

.height-300
{
    height: 300px !important;
}

.height-350
{
    height: 350px !important;
}

.height-400
{
    height: 400px !important;
}

.height-450
{
    height: 450px !important;
}

.height-500
{
    height: 500px !important;
}

.height-550
{
    height: 550px !important;
}

.height-600
{
    height: 600px !important;
}

.height-650
{
    height: 650px !important;
}

.height-700
{
    height: 700px !important;
}

.height-750
{
    height: 750px !important;
}

.height-800
{
    height: 800px !important;
}

.height-5-per
{
    height: 5% !important;
}

.height-10-per
{
    height: 10% !important;
}

.height-15-per
{
    height: 15% !important;
}

.height-20-per
{
    height: 20% !important;
}

.height-25-per
{
    height: 25% !important;
}

.height-30-per
{
    height: 30% !important;
}

.height-35-per
{
    height: 35% !important;
}

.height-40-per
{
    height: 40% !important;
}

.height-45-per
{
    height: 45% !important;
}

.height-50-per
{
    height: 50% !important;
}

.height-55-per
{
    height: 55% !important;
}

.height-60-per
{
    height: 60% !important;
}

.height-65-per
{
    height: 65% !important;
}

.height-70-per
{
    height: 70% !important;
}

.height-75-per
{
    height: 75% !important;
}

.height-80-per
{
    height: 80% !important;
}

.line-height-0
{
    line-height: 0 !important;
}

.line-height-1
{
    line-height: 1 !important;
}

.line-height-2
{
    line-height: 1.5 !important;
}

.line-height-2
{
    line-height: 2 !important;
}

.rotate-45
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.rotate-45-inverse
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.rotate-90
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.rotate-90-inverse
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.rotate-180
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.rotate-180-inverse
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.pull-up
{
    -webkit-transition: all .25s ease;
            transition: all .25s ease;
}
.pull-up:hover
{
    z-index: 30; 

    -webkit-transform: translateY(-4px) scale(1.02);
        -ms-transform: translateY(-4px) scale(1.02);
            transform: translateY(-4px) scale(1.02);

    box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
}

.spinner
{
    display: inline-block;

    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

@keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

.spinner-reverse
{
    display: inline-block;

    -webkit-animation: spin-reverse 1s linear infinite;
            animation: spin-reverse 1s linear infinite;
}

@-webkit-keyframes spin-reverse
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin-reverse
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.bg-cover
{
    background-size: cover !important;
}

.bg-repeat
{
    background-repeat: repeat !important;
}

.bg-no-repeat
{
    background-repeat: no-repeat !important;
}

.img-xl
{
    width: 64px !important;
    height: 64px !important;
}

.img-lg
{
    width: 44px !important;
    height: 44px !important;
}

.img-sm
{
    width: 36px !important;
    height: 36px !important;
}

.img-xs
{
    width: 32px !important;
    height: 32px !important;
}

.customizer
{
    position: fixed;
    z-index: 1052;
    top: 0;
    bottom: 0;
    left: -400px;

    width: 400px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;

    -webkit-transition: left .4s cubic-bezier(.05, .74, .2, .99);
            transition: left .4s cubic-bezier(.05, .74, .2, .99);

    border-right: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1); 

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.customizer.open
{
    left: 0;
}
.customizer .customizer-content
{
    position: relative;

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.customizer .customizer-close
{
    position: absolute;
    z-index: 10; 
    top: 10px;
    left: 10px;

    width: auto;
    padding: 7px;
}
.customizer .customizer-toggle
{
    line-height: 2.7rem;

    position: absolute;
    top: 45%;
    right: -2.75rem;

    width: 2.7rem;
    height: 2.7rem;

    cursor: pointer;
    text-align: center;

    border-top-right-radius: .35rem;
    border-bottom-right-radius: .35rem;
    box-shadow: 3px 0 8px rgba(0, 0, 0, .1);
}
.customizer .customizer-toggle i.spinner
{
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}
.customizer .color-options a
{
    white-space: pre;
}
.customizer .cz-bg-color
{
    margin: 0 auto;
}
.customizer .cz-bg-color [class*='gradient-']
{
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.customizer .cz-bg-color > .row
{
    padding-right: 4px;
}
.customizer .cz-bg-color .selected,
.customizer .cz-tl-bg-color .selected
{
    border: 3px solid #fff; 
    box-shadow: 0 0 1px 1px #975aff;
}
.customizer .cz-bg-color span:hover,
.customizer .cz-tl-bg-color span:hover
{
    cursor: pointer;
}
.customizer .cz-bg-image
{
    padding-right: 5px;
    padding-left: 3px;
}
.customizer .cz-bg-image img.rounded
{
    width: 40px; 
    height: 80px;
}
.customizer .cz-bg-image img.rounded.selected
{
    border: 3px solid #fff;
    box-shadow: 0 0 1px 1px #975aff;
}
.customizer .cz-bg-image img.rounded:hover
{
    cursor: pointer;
}
.customizer .togglebutton .checkbox
{
    margin-left: -8px;
}
.customizer .tl-color-option,
.customizer .cz-tl-bg-color,
.customizer .tl-bg-img
{
    display: none;
}
.customizer .cz-tl-bg-image
{
    padding-left: 5px;
}
.customizer .cz-tl-bg-image .ct-glass-bg
{
    width: 70px; 
    height: 100px;
}
.customizer .cz-tl-bg-image .ct-glass-bg.selected
{
    border: 3px solid #1e1e1e;
    box-shadow: 0 0 1px 1px #975aff;
}
.customizer .cz-tl-bg-image .ct-glass-bg:hover
{
    cursor: pointer;
}
.customizer .cz-tl-bg-color [class*=bg-]
{
    -webkit-transition: background .3s;
            transition: background .3s; 

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
}
.customizer .cz-tl-bg-color .bg-glass-hibiscus
{
    background-image: -webkit-linear-gradient(right top, #f05f57, #c83d5c, #99245a, #671351, #360940);
    background-image:         linear-gradient(to left bottom, #f05f57, #c83d5c, #99245a, #671351, #360940);
}
.customizer .cz-tl-bg-color .bg-glass-purple-pizzazz
{
    background-image: -webkit-linear-gradient(right top, #662d86, #8b2a8a, #ae2389, #cf1d83, #ed1e79);
    background-image:         linear-gradient(to left bottom, #662d86, #8b2a8a, #ae2389, #cf1d83, #ed1e79);
}
.customizer .cz-tl-bg-color .bg-glass-blue-lagoon
{
    background-image: -webkit-linear-gradient(right top, #144e68, #006d83, #008d92, #00ad91, #57ca85);
    background-image:         linear-gradient(to left bottom, #144e68, #006d83, #008d92, #00ad91, #57ca85);
}
.customizer .cz-tl-bg-color .bg-glass-electric-violet
{
    background-image: -webkit-linear-gradient(left bottom, #4a00e0, #600de0, #7119e1, #8023e1, #8e2de2);
    background-image:         linear-gradient(to right top, #4a00e0, #600de0, #7119e1, #8023e1, #8e2de2);
}
.customizer .cz-tl-bg-color .bg-glass-portage
{
    background-image: -webkit-linear-gradient(left bottom, #97abff, #798ce5, #5b6ecb, #3b51b1, #123597);
    background-image:         linear-gradient(to right top, #97abff, #798ce5, #5b6ecb, #3b51b1, #123597);
}
.customizer .cz-tl-bg-color .bg-glass-tundora
{
    background-image: -webkit-linear-gradient(left bottom, #ef4673, #ffc846);
    background-image:         linear-gradient(to right top, #ef4673, #ffc846);
}

.media-bordered .media
{
    border-top: 1px solid #e0e0e0;
}
.media-bordered .media:first-child
{
    border-top: 0;
}

.media
{
    padding: 1rem 0;
}

.page-link
{
    margin-right: 5px; 

    border-radius: .35rem;
}

ul.list-inline i
{
    line-height: 18px;
}

.circular
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: auto; 

    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
}

.path
{
    -webkit-animation: dash 1.5s ease-in-out infinite, color 2s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite, color 2s ease-in-out infinite;

    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

legend
{
    border-bottom: 0;
}

*
{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
*:focus
{
    outline: 0;
}

a:focus,
a:active,
button:active,
button:focus,
button:hover,
button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
select::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner
{
    outline: 0 !important;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th
{
    border: 0;
}

.dragdrop-container
{
    min-height: 200px;
}

.content-overlay
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    visibility: hidden;
}
.content-overlay.show
{
    visibility: visible;

    background-color: rgba(0, 0, 0, .6);
}

@-webkit-keyframes rotate
{
    100%
    {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

@keyframes rotate
{
    100%
    {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

@-webkit-keyframes dash
{
    0%
    {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50%
    {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100%
    {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash
{
    0%
    {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50%
    {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100%
    {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color
{
    0%
    {
        stroke: #975aff;
    }
    50%
    {
        stroke: #f77e17;
    }
    100%
    {
        stroke: #975aff;
    }
}

@keyframes color
{
    0%
    {
        stroke: #975aff;
    }
    50%
    {
        stroke: #f77e17;
    }
    100%
    {
        stroke: #975aff;
    }
}

.btn-social,
.btn-social-icon
{
    position: relative;

    overflow: hidden;

    padding-right: 4rem;

    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff !important;
}
.btn-social > :first-child,
.btn-social-icon > :first-child
{
    font-size: 1.6em;
    line-height: 2.7rem;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 3.2rem;

    text-align: center;

    border-left: 1px solid rgba(0, 0, 0, .2);

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.btn-social.btn-lg,
.btn-lg.btn-social-icon
{
    padding-right: 3.2rem;
}
.btn-social.btn-lg > :first-child,
.btn-lg.btn-social-icon > :first-child
{
    font-size: 1.8em; 
    line-height: 2.2rem;

    width: 2.2rem;
}
.btn-social.btn-sm,
.btn-sm.btn-social-icon
{
    padding-right: 2.55rem;
}
.btn-social.btn-sm > :first-child,
.btn-sm.btn-social-icon > :first-child
{
    font-size: 1.4em; 
    line-height: 1.8rem;

    width: 1.8rem;
}
.btn-social.btn-xs,
.btn-xs.btn-social-icon
{
    padding-right: 3.15rem;
}
.btn-social.btn-xs > :first-child,
.btn-xs.btn-social-icon > :first-child
{
    font-size: 1.2em; 
    line-height: 2.4rem;

    width: 2.4rem;
}

.btn-social-icon
{
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
}
.btn-social-icon > :first-child
{
    width: 100% !important; 

    text-align: center;

    border: none;
}
.btn-social-icon.btn-lg
{
    width: 2.2rem;
    height: 2.2rem;
    padding-right: 0;
    padding-left: 0;
}
.btn-social-icon.btn-sm
{
    font-size: .75rem; 

    width: 2rem;
    height: 2rem;
    padding-right: 0;
    padding-left: 0;
}
.btn-social-icon.btn-xs
{
    width: 4.4rem;
    height: 4.4rem;
    padding-right: 0;
    padding-left: 0;
}

.btn-adn
{
    border: 1px solid #d87a68; 
    background-color: #d87a68;
}

.btn-bitbucket
{
    border: 1px solid #205081; 
    background-color: #205081;
}

.btn-dropbox
{
    border: 1px solid #1087dd; 
    background-color: #1087dd;
}

.btn-facebook
{
    border: 1px solid #3b5998; 
    background-color: #3b5998;
}

.btn-flickr
{
    border: 1px solid #ff0084; 
    background-color: #ff0084;
}

.btn-foursquare
{
    border: 1px solid #f94877; 
    background-color: #f94877;
}

.btn-github
{
    border: 1px solid #444; 
    background-color: #444;
}

.btn-google
{
    border: 1px solid #dd4b39; 
    background-color: #dd4b39;
}

.btn-instagram
{
    border: 1px solid #3f729b; 
    background-color: #3f729b;
}

.btn-linkedin
{
    border: 1px solid #007bb6; 
    background-color: #007bb6;
}

.btn-microsoft
{
    border: 1px solid #2672ec; 
    background-color: #2672ec;
}

.btn-odnoklassniki
{
    border: 1px solid #f4731c; 
    background-color: #f4731c;
}

.btn-openid
{
    border: 1px solid #f7931e; 
    background-color: #f7931e;
}

.btn-pinterest
{
    border: 1px solid #cb2027; 
    background-color: #cb2027;
}

.btn-reddit
{
    border: 1px solid #eff7ff; 
    background-color: #eff7ff;
}

.btn-soundcloud
{
    border: 1px solid #f50; 
    background-color: #f50;
}

.btn-tumblr
{
    border: 1px solid #2c4762; 
    background-color: #2c4762;
}

.btn-twitter
{
    border: 1px solid #55acee; 
    background-color: #55acee;
}

.btn-vimeo
{
    border: 1px solid #1ab7ea; 
    background-color: #1ab7ea;
}

.btn-vk
{
    border: 1px solid #587ea3; 
    background-color: #587ea3;
}

.btn-yahoo
{
    border: 1px solid #720e9e; 
    background-color: #720e9e;
}

.btn-outline-adn
{
    color: #d87a68 !important; 
    border: 1px solid #d87a68 !important;
}

.btn-outline-bitbucket
{
    color: #205081 !important; 
    border: 1px solid #205081 !important;
}

.btn-outline-dropbox
{
    color: #1087dd !important; 
    border: 1px solid #1087dd !important;
}

.btn-outline-facebook
{
    color: #3b5998 !important; 
    border: 1px solid #3b5998 !important;
}

.btn-outline-flickr
{
    color: #ff0084 !important; 
    border: 1px solid #ff0084 !important;
}

.btn-outline-foursquare
{
    color: #f94877 !important; 
    border: 1px solid #f94877 !important;
}

.btn-outline-github
{
    color: #444 !important; 
    border: 1px solid #444 !important;
}

.btn-outline-google
{
    color: #dd4b39 !important; 
    border: 1px solid #dd4b39 !important;
}

.btn-outline-instagram
{
    color: #3f729b !important; 
    border: 1px solid #3f729b !important;
}

.btn-outline-linkedin
{
    color: #007bb6 !important; 
    border: 1px solid #007bb6 !important;
}

.btn-outline-microsoft
{
    color: #2672ec !important; 
    border: 1px solid #2672ec !important;
}

.btn-outline-odnoklassniki
{
    color: #f4731c !important; 
    border: 1px solid #f4731c !important;
}

.btn-outline-openid
{
    color: #f7931e !important; 
    border: 1px solid #f7931e !important;
}

.btn-outline-pinterest
{
    color: #cb2027 !important; 
    border: 1px solid #cb2027 !important;
}

.btn-outline-reddit
{
    color: #ff4500 !important; 
    border: 1px solid #ff4500 !important;
}

.btn-outline-soundcloud
{
    color: #f50 !important; 
    border: 1px solid #f50 !important;
}

.btn-outline-tumblr
{
    color: #2c4762 !important; 
    border: 1px solid #2c4762 !important;
}

.btn-outline-twitter
{
    color: #55acee !important; 
    border: 1px solid #55acee !important;
}

.btn-outline-vimeo
{
    color: #1ab7ea !important; 
    border: 1px solid #1ab7ea !important;
}

.btn-outline-vk
{
    color: #587ea3 !important; 
    border: 1px solid #587ea3 !important;
}

.btn-outline-yahoo
{
    color: #720e9e !important; 
    border: 1px solid #720e9e !important;
}

.btn-outline-adn:hover
{
    color: #fff !important;
    border: 1px solid #d87a68;
    background-color: #d87a68;
}

.btn-outline-bitbucket:hover
{
    color: #fff !important;
    border: 1px solid #205081;
    background-color: #205081;
}

.btn-outline-dropbox:hover
{
    color: #fff !important;
    border: 1px solid #1087dd;
    background-color: #1087dd;
}

.btn-outline-facebook:hover
{
    color: #fff !important;
    border: 1px solid #3b5998;
    background-color: #3b5998;
}

.btn-outline-flickr:hover
{
    color: #fff !important;
    border: 1px solid #ff0084;
    background-color: #ff0084;
}

.btn-outline-foursquare:hover
{
    color: #fff !important;
    border: 1px solid #f94877;
    background-color: #f94877;
}

.btn-outline-github:hover
{
    color: #fff !important;
    border: 1px solid #444;
    background-color: #444;
}

.btn-outline-google:hover
{
    color: #fff !important;
    border: 1px solid #dd4b39;
    background-color: #dd4b39;
}

.btn-outline-instagram:hover
{
    color: #fff !important;
    border: 1px solid #3f729b;
    background-color: #3f729b;
}

.btn-outline-linkedin:hover
{
    color: #fff !important;
    border: 1px solid #007bb6;
    background-color: #007bb6;
}

.btn-outline-microsoft:hover
{
    color: #fff !important;
    border: 1px solid #2672ec;
    background-color: #2672ec;
}

.btn-outline-odnoklassniki:hover
{
    color: #fff !important;
    border: 1px solid #f4731c;
    background-color: #f4731c;
}

.btn-outline-openid:hover
{
    color: #fff !important;
    border: 1px solid #f7931e;
    background-color: #f7931e;
}

.btn-outline-pinterest:hover
{
    color: #fff !important;
    border: 1px solid #cb2027;
    background-color: #cb2027;
}

.btn-outline-reddit:hover
{
    color: #fff !important;
    border: 1px solid #ff4500;
    background-color: #ff4500;
}

.btn-outline-soundcloud:hover
{
    color: #fff !important;
    border: 1px solid #f50;
    background-color: #f50;
}

.btn-outline-tumblr:hover
{
    color: #fff !important;
    border: 1px solid #2c4762;
    background-color: #2c4762;
}

.btn-outline-twitter:hover
{
    color: #fff !important;
    border: 1px solid #55acee;
    background-color: #55acee;
}

.btn-outline-vimeo:hover
{
    color: #fff !important;
    border: 1px solid #1ab7ea;
    background-color: #1ab7ea;
}

.btn-outline-vk:hover
{
    color: #fff !important;
    border: 1px solid #587ea3;
    background-color: #587ea3;
}

.btn-outline-yahoo:hover
{
    color: #fff !important;
    border: 1px solid #720e9e;
    background-color: #720e9e;
}

.btn-adn-flat
{
    color: #d87a68 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-adn-flat span
{
    border: none !important;
}
.btn-adn-flat:hover
{
    color: #993a28 !important;
    background-color: transparent !important;
}

.btn-bitbucket-flat
{
    color: #205081 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-bitbucket-flat span
{
    border: none !important;
}
.btn-bitbucket-flat:hover
{
    color: #07111b !important;
    background-color: transparent !important;
}

.btn-dropbox-flat
{
    color: #1087dd !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-dropbox-flat span
{
    border: none !important;
}
.btn-dropbox-flat:hover
{
    color: #073e66 !important;
    background-color: transparent !important;
}

.btn-facebook-flat
{
    color: #3b5998 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-facebook-flat span
{
    border: none !important;
}
.btn-facebook-flat:hover
{
    color: #17233c !important;
    background-color: transparent !important;
}

.btn-flickr-flat
{
    color: #ff0084 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-flickr-flat span
{
    border: none !important;
}
.btn-flickr-flat:hover
{
    color: #800042 !important;
    background-color: transparent !important;
}

.btn-foursquare-flat
{
    color: #f94877 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-foursquare-flat span
{
    border: none !important;
}
.btn-foursquare-flat:hover
{
    color: #bb0636 !important;
    background-color: transparent !important;
}

.btn-github-flat
{
    color: #444 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-github-flat span
{
    border: none !important;
}
.btn-github-flat:hover
{
    color: #040404 !important;
    background-color: transparent !important;
}

.btn-google-flat
{
    color: #dd4b39 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-google-flat span
{
    border: none !important;
}
.btn-google-flat:hover
{
    color: #802216 !important;
    background-color: transparent !important;
}

.btn-instagram-flat
{
    color: #3f729b !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-instagram-flat span
{
    border: none !important;
}
.btn-instagram-flat:hover
{
    color: #1a2f40 !important;
    background-color: transparent !important;
}

.btn-linkedin-flat
{
    color: #007bb6 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-linkedin-flat span
{
    border: none !important;
}
.btn-linkedin-flat:hover
{
    color: #002537 !important;
    background-color: transparent !important;
}

.btn-microsoft-flat
{
    color: #2672ec !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-microsoft-flat span
{
    border: none !important;
}
.btn-microsoft-flat:hover
{
    color: #0c3b87 !important;
    background-color: transparent !important;
}

.btn-odnoklassniki-flat
{
    color: #f4731c !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-odnoklassniki-flat span
{
    border: none !important;
}
.btn-odnoklassniki-flat:hover
{
    color: #8a3c07 !important;
    background-color: transparent !important;
}

.btn-openid-flat
{
    color: #f7931e !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-openid-flat span
{
    border: none !important;
}
.btn-openid-flat:hover
{
    color: #905005 !important;
    background-color: transparent !important;
}

.btn-pinterest-flat
{
    color: #cb2027 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-pinterest-flat span
{
    border: none !important;
}
.btn-pinterest-flat:hover
{
    color: #5d0f12 !important;
    background-color: transparent !important;
}

.btn-reddit-flat
{
    color: #ff4500 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-reddit-flat span
{
    border: none !important;
}
.btn-reddit-flat:hover
{
    color: #802300 !important;
    background-color: transparent !important;
}

.btn-soundcloud-flat
{
    color: #f50 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-soundcloud-flat span
{
    border: none !important;
}
.btn-soundcloud-flat:hover
{
    color: #802b00 !important;
    background-color: transparent !important;
}

.btn-tumblr-flat
{
    color: #2c4762 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-tumblr-flat span
{
    border: none !important;
}
.btn-tumblr-flat:hover
{
    color: #04070a !important;
    background-color: transparent !important;
}

.btn-twitter-flat
{
    color: #55acee !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-twitter-flat span
{
    border: none !important;
}
.btn-twitter-flat:hover
{
    color: #126db2 !important;
    background-color: transparent !important;
}

.btn-vimeo-flat
{
    color: #1ab7ea !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-vimeo-flat span
{
    border: none !important;
}
.btn-vimeo-flat:hover
{
    color: #0b5e79 !important;
    background-color: transparent !important;
}

.btn-vk-flat
{
    color: #587ea3 !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-vk-flat span
{
    border: none !important;
}
.btn-vk-flat:hover
{
    color: #2b3e50 !important;
    background-color: transparent !important;
}

.btn-yahoo-flat
{
    color: #720e9e !important;
    border: none !important; 
    background-color: transparent !important;
}
.btn-yahoo-flat span
{
    border: none !important;
}
.btn-yahoo-flat:hover
{
    color: #1d0429 !important;
    background-color: transparent !important;
}

.btn-adn-flat.active,
.btn-adn-flat:active,
.btn-adn-flat:focus,
.btn-adn-flat:active:focus,
.btn-adn-flat:active:hover
{
    background-color: transparent !important;
}

.btn-bitbucket-flat.active,
.btn-bitbucket-flat:active,
.btn-bitbucket-flat:focus,
.btn-bitbucket-flat:active:focus,
.btn-bitbucket-flat:active:hover
{
    background-color: transparent !important;
}

.btn-dropbox-flat.active,
.btn-dropbox-flat:active,
.btn-dropbox-flat:focus,
.btn-dropbox-flat:active:focus,
.btn-dropbox-flat:active:hover
{
    background-color: transparent !important;
}

.btn-facebook-flat.active,
.btn-facebook-flat:active,
.btn-facebook-flat:focus,
.btn-facebook-flat:active:focus,
.btn-facebook-flat:active:hover
{
    background-color: transparent !important;
}

.btn-flickr-flat.active,
.btn-flickr-flat:active,
.btn-flickr-flat:focus,
.btn-flickr-flat:active:focus,
.btn-flickr-flat:active:hover
{
    background-color: transparent !important;
}

.btn-foursquare-flat.active,
.btn-foursquare-flat:active,
.btn-foursquare-flat:focus,
.btn-foursquare-flat:active:focus,
.btn-foursquare-flat:active:hover
{
    background-color: transparent !important;
}

.btn-github-flat.active,
.btn-github-flat:active,
.btn-github-flat:focus,
.btn-github-flat:active:focus,
.btn-github-flat:active:hover
{
    background-color: transparent !important;
}

.btn-google-flat.active,
.btn-google-flat:active,
.btn-google-flat:focus,
.btn-google-flat:active:focus,
.btn-google-flat:active:hover
{
    background-color: transparent !important;
}

.btn-instagram-flat.active,
.btn-instagram-flat:active,
.btn-instagram-flat:focus,
.btn-instagram-flat:active:focus,
.btn-instagram-flat:active:hover
{
    background-color: transparent !important;
}

.btn-linkedin-flat.active,
.btn-linkedin-flat:active,
.btn-linkedin-flat:focus,
.btn-linkedin-flat:active:focus,
.btn-linkedin-flat:active:hover
{
    background-color: transparent !important;
}

.btn-microsoft-flat.active,
.btn-microsoft-flat:active,
.btn-microsoft-flat:focus,
.btn-microsoft-flat:active:focus,
.btn-microsoft-flat:active:hover
{
    background-color: transparent !important;
}

.btn-odnoklassniki-flat.active,
.btn-odnoklassniki-flat:active,
.btn-odnoklassniki-flat:focus,
.btn-odnoklassniki-flat:active:focus,
.btn-odnoklassniki-flat:active:hover
{
    background-color: transparent !important;
}

.btn-openid-flat.active,
.btn-openid-flat:active,
.btn-openid-flat:focus,
.btn-openid-flat:active:focus,
.btn-openid-flat:active:hover
{
    background-color: transparent !important;
}

.btn-pinterest-flat.active,
.btn-pinterest-flat:active,
.btn-pinterest-flat:focus,
.btn-pinterest-flat:active:focus,
.btn-pinterest-flat:active:hover
{
    background-color: transparent !important;
}

.btn-reddit-flat.active,
.btn-reddit-flat:active,
.btn-reddit-flat:focus,
.btn-reddit-flat:active:focus,
.btn-reddit-flat:active:hover
{
    background-color: transparent !important;
}

.btn-soundcloud-flat.active,
.btn-soundcloud-flat:active,
.btn-soundcloud-flat:focus,
.btn-soundcloud-flat:active:focus,
.btn-soundcloud-flat:active:hover
{
    background-color: transparent !important;
}

.btn-tumblr-flat.active,
.btn-tumblr-flat:active,
.btn-tumblr-flat:focus,
.btn-tumblr-flat:active:focus,
.btn-tumblr-flat:active:hover
{
    background-color: transparent !important;
}

.btn-twitter-flat.active,
.btn-twitter-flat:active,
.btn-twitter-flat:focus,
.btn-twitter-flat:active:focus,
.btn-twitter-flat:active:hover
{
    background-color: transparent !important;
}

.btn-vimeo-flat.active,
.btn-vimeo-flat:active,
.btn-vimeo-flat:focus,
.btn-vimeo-flat:active:focus,
.btn-vimeo-flat:active:hover
{
    background-color: transparent !important;
}

.btn-vk-flat.active,
.btn-vk-flat:active,
.btn-vk-flat:focus,
.btn-vk-flat:active:focus,
.btn-vk-flat:active:hover
{
    background-color: transparent !important;
}

.btn-yahoo-flat.active,
.btn-yahoo-flat:active,
.btn-yahoo-flat:focus,
.btn-yahoo-flat:active:focus,
.btn-yahoo-flat:active:hover
{
    background-color: transparent !important;
}

@media (min-width: 1200px)
{
    .vertical-menu .main-panel .main-content
    {
        margin-right: 250px;
    }
    .vertical-menu .navbar
    {
        margin-right: 250px;

        -webkit-transition: all .3s ease;
                transition: all .3s ease;
    }
    .vertical-menu .navbar .container-fluid
    {
        padding-right: 0;
    }
    .vertical-menu footer.footer
    {
        margin-right: 250px;
    }
    .vertical-menu.sidebar-sm .navbar,
    .vertical-menu.sidebar-sm .main-panel .main-content
    {
        margin-right: 220px;
    }
    .vertical-menu.sidebar-sm.nav-collapsed .navbar,
    .vertical-menu.sidebar-sm.nav-collapsed .main-panel .main-content
    {
        margin-right: 60px;
    }
    .vertical-menu.sidebar-sm .navbar
    {
        margin-right: 220px;
        padding-right: 1.5rem;

        -webkit-transition: all .3s ease;
                transition: all .3s ease;
    }
    .vertical-menu.sidebar-sm .navbar .navbar-container
    {
        padding-right: 220px;
    }
    .vertical-menu.sidebar-sm footer.footer
    {
        margin-right: 220px;
    }
    .vertical-menu.sidebar-lg .navbar,
    .vertical-menu.sidebar-lg .main-panel .main-content
    {
        margin-right: 280px;
    }
    .vertical-menu.sidebar-lg.nav-collapsed .navbar,
    .vertical-menu.sidebar-lg.nav-collapsed .main-panel .main-content
    {
        margin-right: 60px;
    }
    .vertical-menu.sidebar-lg .navbar
    {
        margin-right: 280px;
        padding-right: 1.5rem;

        -webkit-transition: all .3s ease;
                transition: all .3s ease;
    }
    .vertical-menu.sidebar-lg .navbar .navbar-container
    {
        padding-right: 280px;
    }
    .vertical-menu.sidebar-lg footer.footer
    {
        margin-right: 280px;
    }
    footer.footer
    {
        text-align: center;
    }
}

footer.footer
{
    padding: 1rem 2.2rem;
}

.vertical-layout[data-col='1-column'].nav-collapsed,
.vertical-layout[data-col='1-column'] .navbar,
.vertical-layout[data-col='1-column'] .main-content
{
    margin: 0 !important;
}

.horizontal-layout[data-col='1-column'] .main-panel
{
    margin-top: 4rem !important;
}

.horizontal-layout[data-col='1-column'].blank-page .wrapper
{
    min-height: calc(var(--vh, 1vh) * 100);
}

.horizontal-layout[data-col='1-column'].blank-page .main-panel
{
    margin-top: 0 !important;
}

@media (max-width: 1200px)
{
    .app-sidebar
    {
        -webkit-transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
                transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
                transition:         transform .4s cubic-bezier(.25, .8, .25, 1);
                transition:         transform .4s cubic-bezier(.25, .8, .25, 1), -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
    }
    .navbar
    {
        padding: 0 25px;
    }
    .navbar-toggle
    {
        display: block;
    }
    .navbar-header .navbar-toggle
    {
        margin: 8px 6px 0 17px;

        cursor: pointer;
    }
    .navbar-header .navbar-collapse-toggle,
    .navbar-header .open-collapse-toggle
    {
        margin: 20px 15px 10px 0;
    }
    .navbar-form
    {
        margin-top: .75rem !important;
    }
    @-webkit-keyframes fadeIn
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
    @keyframes fadeIn
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
    .bar1,
    .bar2,
    .bar3
    {
        outline: 1px solid transparent;
    }
    @-webkit-keyframes fadeIn
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
    @keyframes fadeIn
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
}

@media (min-width: 320px)
{
    .navbar-header
    {
        float: right;
    }
    .navbar-right
    {
        float: left !important;
    }
    .navbar-nav > li
    {
        float: right;
    }
}

@media (max-width: 320px)
{
    .navbar-right
    {
        display: none;
    }
}

@media (max-width: 640px)
{
    .navbar-form
    {
        display: none;
    }
}

@media (max-width: 767px)
{
    #navbar-mobile.navbar-collapse .navbar-nav
    {
        margin: 0;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }
    #navbar-mobile.navbar-collapse .navbar-nav .dropdown-menu
    {
        position: absolute;
    }
    #navbar-mobile.navbar-collapse .navbar-nav .nav-item
    {
        float: right;
    }
}

@media (max-width: 991.98px)
{
    .navbar .navbar-nav
    {
        margin-left: -5px;
    }
    .header-navbar .navbar-container ul.navbar-nav
    {
        float: left !important;
    }
    .header-navbar .navbar-container ul.navbar-nav li > a.nav-link
    {
        padding: .5rem .5rem;
    }
}

@media (max-width: 359px)
{
    .i18n-dropdown
    {
        display: none;
    }
}

@media (max-width: 991.98px)
{
    [dir='rtl'] .header-navbar .navbar-container ul.navbar-nav li
    {
        float: right !important;
    }
}

.main-content .color-palette .color-group li
{
    list-style-type: none;
}
.main-content .color-palette .color-group li.color
{
    margin: 0; 
    padding: 10px 15px 11px;
}
.main-content .color-palette .color-group li.color.main-color .name
{
    font-size: 2rem; 

    display: block;

    margin-bottom: 53px;
}
.main-content .color-palette .color-group li.color .hex
{
    display: block; 
    float: left;

    text-transform: uppercase;
}

.main-content .color-palette .color-group:last-child li.color
{
    margin: 0; 
    padding: 10px 15px 11px;
}
.main-content .color-palette .color-group:last-child li.color.main-color .name
{
    font-size: 2rem; 

    display: block;

    margin-bottom: 53px;
}
.main-content .color-palette .color-group:last-child li.color .hex
{
    display: block; 
    float: left;

    text-transform: uppercase;
}

.main-content .color-palette .dark span
{
    color: #342e49;
}

.main-content .color-palette span
{
    font-size: 14px;
    font-weight: 500; 

    color: rgba(255, 255, 255, .87);
}
.main-content .color-palette span.light-strong
{
    color: #fff;
}
.main-content .color-palette span.dark
{
    color: #342e49;
}

.main-content .bd-highlight,
.main-content .width-example
{
    border: 1px solid rgba(86, 61, 124, .15); 
    background-color: rgba(86, 61, 124, .15);
}

.main-content .height-example-wrapper
{
    height: 100px; 

    background-color: rgba(255, 0, 0, .1);
}
.main-content .height-example-wrapper .height-example
{
    width: 120px; 

    background-color: rgba(0, 0, 255, .1);
}

.main-content .fonticon-container > .fonticon-wrap
{
    line-height: 4.8rem;

    float: right;

    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem; 
    margin-left: 1rem;

    text-align: center;

    border-radius: .1875rem;
}
.main-content .fonticon-container > .fonticon-wrap > i
{
    font-size: 2.28rem;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.main-content .fonticon-container > .fonticon-wrap > i.fa
{
    font-size: 2.28rem !important;
}
.main-content .fonticon-container > .fonticon-wrap.youtube
{
    width: 100px;
}

.main-content .fonticon-container:hover i
{
    font-size: 2.9rem;

    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); 

    color: #975aff;
}

.main-content .fonticon-container > .fonticon-classname,
.main-content .fonticon-container > .fonticon-unit
{
    font-size: 1.5rem;
    line-height: 1.2; 

    display: block;
}

.main-content .fonticon-container > .fonticon-unit
{
    font-size: 1rem;
    font-style: italic;
}

.buy-now
{
    position: fixed;
    z-index: 1039; 
    bottom: 4%;
    left: 5.8rem;
}

.scroll-top
{
    position: fixed;
    z-index: 1039;
    bottom: 4%;
    left: 2rem;

    display: none; 

    padding: .4rem .8rem;
}

@media (max-width: 575.98px)
{
    #media-object img
    {
        width: 45px;
        height: 45px;
    }
    .carousel-caption p
    {
        overflow: hidden;

        white-space: nowrap; 
        text-overflow: ellipsis;
    }
    .dropzone.dropzone-area .dz-message
    {
        font-size: 1.5rem;
    }
    .dropzone.dropzone-area .dz-message:before
    {
        font-size: 3rem;

        height: 50px;
    }
}

#iconForm .form-control-position
{
    top: 1px;
}

.doc-sidebar-wrapper
{
    position: fixed;
    left: 1rem;
}
.doc-sidebar-wrapper .doc-sidebar
{
    margin-right: 4.5rem;
}
body.page-scrolled .doc-sidebar-wrapper
{
    top: 1.5rem;
}

ul.doc-sidebar-nav-list
{
    padding-right: 0; 

    list-style: none;
}

@media (max-width: 1199.98px)
{
    .doc-sidebar-wrapper .doc-sidebar
    {
        margin-right: .5rem;
    }
}

.avatar
{
    font-size: .75rem;

    position: relative;

    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    cursor: pointer;
    text-align: center;
    vertical-align: middle; 
    white-space: nowrap;

    color: #616161;
    border-radius: 50%;
    background-color: #e0e0e0;
}
.avatar img
{
    border-radius: 50%;
}
.avatar img + .avatar-content
{
    width: 0 !important;
    height: 0 !important;
}
.avatar .avatar-content
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 32px;
    height: 32px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.avatar .avatar-content .avatar-icon
{
    font-size: 1.1rem;
}
.avatar .avatar-content .badge
{
    font-size: .62rem; 

    position: absolute;
    top: -8px;
    left: -9px;
}
.avatar[class*='bg-']
{
    color: #fff;
}
.avatar.avatar-xl
{
    font-size: 1.5rem;
}
.avatar.avatar-xl img
{
    width: 70px;
    height: 70px;
}
.avatar.avatar-xl .avatar-content
{
    width: 70px; 
    height: 70px;
}
.avatar.avatar-xl .avatar-content .avatar-icon
{
    font-size: 3rem;
}
.avatar.avatar-lg
{
    font-size: 1.2rem;
}
.avatar.avatar-lg img
{
    width: 50px;
    height: 50px;
}
.avatar.avatar-lg .avatar-content
{
    width: 50px;
    height: 50px;
}
.avatar.avatar-lg .avatar-content .avatar-icon
{
    font-size: 2rem;
}
.avatar.avatar-md
{
    font-size: 1rem;
}
.avatar.avatar-md img
{
    width: 40px;
    height: 40px;
}
.avatar.avatar-md .avatar-content
{
    width: 40px;
    height: 40px;
}
.avatar.avatar-md .avatar-content .avatar-icon
{
    font-size: 1.5rem;
}
.avatar.avatar-sm .avatar-content
{
    width: 24px;
    height: 24px;
}
.avatar.avatar-sm .avatar-content .avatar-icon
{
    font-size: .9rem;
}
.avatar.avatar-sm img
{
    width: 24px;
    height: 24px;
}
.avatar [class*='avatar-status-']
{
    position: absolute;
    bottom: -1px;
    left: -1px;

    width: 11px;
    height: 11px;

    border: 1px solid #fff; 
    border-radius: 50%;
}
.avatar [class*='avatar-status-'].avatar-status-lg
{
    width: 17px;
    height: 17px;

    border-width: 2px;
}
.avatar .avatar-status-online
{
    background-color: #40c057;
}
.avatar .avatar-status-busy
{
    background-color: #f55252;
}
.avatar .avatar-status-away
{
    background-color: #f77e17;
}
.avatar .avatar-status-offline
{
    background-color: #616d89;
}

@media screen and (min-width: 0)
{
    head
    {
        font-family: 'xs 0px';
    }
    body:after
    {
        content: 'xs - min-width: 0px';
    }
}

@media screen and (min-width: 544px)
{
    head
    {
        font-family: 'sm 544px';
    }
    body:after
    {
        content: 'sm - min-width: 544px';
    }
}

@media screen and (min-width: 768px)
{
    head
    {
        font-family: 'md 768px';
    }
    body:after
    {
        content: 'md - min-width: 768px';
    }
}

@media screen and (min-width: 992px)
{
    head
    {
        font-family: 'lg 992px';
    }
    body:after
    {
        content: 'lg - min-width: 992px';
    }
}

@media screen and (min-width: 1200px)
{
    head
    {
        font-family: 'xl 1200px';
    }
    body:after
    {
        content: 'xl - min-width: 1200px';
    }
}

head
{
    clear: both;
}
head title
{
    font-family: 'xs 0px, sm 544px, md 768px, lg 992px, xl 1200px';
}

body:after
{
    display: none;
}

*[data-usn-if]
{
    display: none;
}

.select2-container--classic:focus,
.select2-container--default:focus
{
    outline: none;
}

.select2-container--classic .select2-selection--single,
.select2-container--default .select2-selection--single
{
    min-height: calc(1.5em + .75rem + 3px);

    border: 1px solid #e0e0e0;
    border-radius: .35rem; 
    background-color: transparent;
}
.select2-container--classic .select2-selection--single:focus,
.select2-container--default .select2-selection--single:focus
{
    border-color: #975aff !important;
    outline: 0;
    box-shadow: none !important;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered
{
    line-height: calc(1.5em + .75rem + 3px);

    height: 100%;
    padding-right: .75rem;
    padding-left: 2rem; 

    color: #342e49;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered i,
.select2-container--default .select2-selection--single .select2-selection__rendered i
{
    margin-left: .5rem;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    width: 25px; 
    height: calc(calc(1.5em + .75rem + 3px) - 2px);
}

.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--single
{
    border-color: #975aff !important;
    outline: 0;
}

.select2-container--classic.select2-container--focus,
.select2-container--default.select2-container--focus
{
    outline: 0;
}
.select2-container--classic.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple
{
    border-color: #975aff !important;
    outline: 0;
}

.select2-container--classic .select2-selection--multiple,
.select2-container--default .select2-selection--multiple
{
    line-height: 1; 

    min-height: calc(1.5em + .75rem + 3px);

    border: 1px solid #e0e0e0;
    border-radius: .35rem;
    background-color: transparent;
}
.select2-container--classic .select2-selection--multiple:focus,
.select2-container--default .select2-selection--multiple:focus
{
    border-color: #975aff !important;
    outline: 0;
    box-shadow: none !important;
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered
{
    padding: 0 8px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice
{
    line-height: 1.5;

    color: #fff;
    border-color: #7441db !important;
    border-radius: .35rem; 
    background-color: #975aff !important;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    float: left;

    margin-right: .5rem; 

    color: #fff !important;
}
.select2-container--classic .select2-selection--multiple i,
.select2-container--default .select2-selection--multiple i
{
    font-size: .9rem; 

    margin-left: .5rem;
}

.select2-container--classic .select2-results__options .select2-results__option i,
.select2-container--default .select2-results__options .select2-results__option i
{
    margin-left: .5rem;
}

.select2-container--classic .select2-results__options .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__options .select2-results__option--highlighted[aria-selected]
{
    background-color: #975aff;
}

.select2-container--classic .select2-results__options .select2-results__option .select2-results__group,
.select2-container--default .select2-results__options .select2-results__option .select2-results__group
{
    background-color: #f7f7f8;
}

.select2-container--classic .select2-results__options .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__options .select2-results__option[aria-selected=true]
{
    color: #fff; 
    background-color: #975aff;
}

.select2-container--classic .select-lg,
.select2-container--default .select-lg
{
    font-size: 1.25rem; 

    min-height: calc(1.5em + .75rem + 3px) !important;
}

.select2-container--classic .select-sm,
.select2-container--default .select-sm
{
    font-size: .75rem; 

    min-height: calc(1.5em + .5rem + 2px) !important;
}
.select2-container--classic .select-sm.select2-selection--single .select2-selection__rendered,
.select2-container--default .select-sm.select2-selection--single .select2-selection__rendered
{
    line-height: calc(calc(1.5em + .5rem + 2px) - 2px);
}
.select2-container--classic .select-sm.select2-selection--multiple .select2-selection__rendered,
.select2-container--default .select-sm.select2-selection--multiple .select2-selection__rendered
{
    padding-right: 5px;
}
.select2-container--classic .select-sm.select2-selection--multiple .select2-selection__rendered li,
.select2-container--default .select-sm.select2-selection--multiple .select2-selection__rendered li
{
    line-height: 1.2rem; 

    margin-top: 2px;
}
.select2-container--classic .select-sm.select2-selection--multiple .select2-search--inline .select2-search__field,
.select2-container--default .select-sm.select2-selection--multiple .select2-search--inline .select2-search__field
{
    margin-top: 0;
}

.select2-result-repository__avatar img
{
    width: 50px;
}

input[class*='pickadate'],
input[class*='pickatime'],
input[class*='birthdate']
{
    background-color: transparent !important;
}

.picker--opened .picker__holder
{
    margin-top: .5rem;

    border-radius: .35rem;
    box-shadow: 8px 8px 14px 0 rgba(25, 42, 70, .11);
}

.input-group > .input-group-prepend ~ .form-control.picker__input
{
    border-top-left-radius: .35rem;
    border-bottom-left-radius: .35rem;
}

.picker__day
{
    border-radius: .35rem;
}

.picker__day--highlighted,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted
{
    border-radius: .35rem; 
    background-color: #975aff !important;
}

.picker__day--today:before
{
    top: 4px;
    left: 4px;

    border-top-color: #975aff;
}

.picker__day--highlighted:before
{
    border-top-color: #fff;
}

.picker__button--today:before
{
    border-top-color: #975aff;
}

.picker__button--close:before
{
    font-family: feather;
    font-weight: 700; 

    content: '\e8f6';
}

.picker__list-item--highlighted,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted
{
    background-color: #975aff !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .picker
    {
        right: 0;
    }
}

table.dataTable
{
    margin-bottom: .75rem !important;
}
table.dataTable thead th
{
    font-size: .85rem;
    font-weight: 600; 

    text-transform: uppercase;
}
table.dataTable thead th[class*='sorting']:not(.sorting_disabled):before
{
    font-family: feather;

    top: .8rem; 

    content: '\e845';
}
table.dataTable thead th[class*='sorting']:not(.sorting_disabled):after
{
    font-family: feather;

    top: 1.6rem;
    left: .85rem; 

    content: '\e842';
}
table.dataTable tbody tr.group
{
    background: rgba(0, 0, 0, .03);
}
table.dataTable tbody tr td.details-control
{
    background: url('../img/datatables/details_open.png') no-repeat center center;
}
table.dataTable tbody tr.shown td.details-control
{
    background: url('../img/datatables/details_close.png') no-repeat center center;
}
table.dataTable tbody tr.selected
{
    background-color: #efdeff;
}
table.dataTable tfoot th
{
    font-size: 1rem;
    font-weight: 600;
}
table.dataTable.table-striped tbody tr td
{
    border-top: 0;
}

.vertical-layout.navbar-sticky .header-navbar
{
    position: fixed;
    top: 0;

    width: 100%;
}
.vertical-layout.navbar-sticky .header-navbar.navbar-shadow
{
    box-shadow: rgba(25, 42, 70, .11) 8px 8px 14px 0;
}

.vertical-layout.navbar-sticky .main-panel
{
    margin-top: 3.95rem;
}

.blank-page .wrapper .main-panel
{
    margin: 0;
    padding: 0;
}
.blank-page .wrapper .main-panel .main-content
{
    margin: 0; 
    padding: 0 !important;
}
.blank-page .wrapper .main-panel .main-content .content-wrapper
{
    padding: 0;
}

.wrapper
{
    position: relative;
    top: 0;

    overflow: hidden;

    height: 100%;
    min-height: calc(100vh - 3.98rem);
}
.wrapper .content-header
{
    font-size: 1.6rem;
    font-weight: 500;

    margin-top: 1.5rem;
    margin-bottom: .25rem;
}
.wrapper .content-sub-header
{
    color: #342e49;
}
.wrapper.menu-collapsed .app-sidebar .navigation li.has-sub > a:after
{
    display: none;
}

body.nav-collapsed .app-sidebar:hover .nav li.has-sub > a:after
{
    display: inherit;
}

body.nav-collapsed .app-sidebar:hover .menu-title,
body.nav-collapsed .app-sidebar:hover .badge,
body.nav-collapsed .app-sidebar:hover .logo .text
{
    display: inline-block; 

    opacity: 1;
}

body.nav-collapsed .app-sidebar:hover .nav-toggle
{
    display: block !important;
}

body.nav-collapsed .app-sidebar .menu-title,
body.nav-collapsed .app-sidebar .badge,
body.nav-collapsed .app-sidebar .logo .text
{
    display: none; 

    opacity: 0;
}

body.nav-collapsed .app-sidebar .nav-toggle
{
    display: none !important;
}

body.nav-collapsed .app-sidebar .nav-close
{
    display: none !important;
}

body.nav-collapsed .app-sidebar:not(.expanded) .navigation li.has-sub a:after
{
    content: none;
}

.menu-hide .app-sidebar
{
    box-shadow: none;
}

.menu-open .app-sidebar
{
    right: 0; 

    width: 250px;

    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

body .app-sidebar .navigation li > a:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: -100%;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: .35s ease right;
            transition: .35s ease right; 

    border-left: solid 5px #f55252;
    background: rgba(224, 224, 224, .2);
}

body .app-sidebar .navigation li.sidebar-group-active:not(.open)
{
    border-left: solid 5px #f55252;
    background: rgba(224, 224, 224, .2);
}

body[data-menu='vertical-menu'] .app-sidebar .navigation li.active:not(.open) > a:before
{
    right: 0;
}

body[data-menu='vertical-menu'] .app-sidebar .navigation li.active > a:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: .35s ease right;
            transition: .35s ease right; 

    border-left: solid 5px #f55252;
    background: rgba(224, 224, 224, .2);
}

body[data-menu='horizontal-menu'] .app-sidebar .navigation li.active > a:before
{
    right: 0;
}

.app-sidebar
{
    font-family: 'Montserrat', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;

    visibility: visible; 

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1);
    white-space: nowrap;

    box-shadow: -6px 0 20px 0 rgba(25, 42, 70, .35);
}
.menu-expanded .app-sidebar
{
    right: 0;

    width: 250px;
}
.app-sidebar .sidebar-content
{
    position: relative;
    z-index: 4; 

    height: calc((var(--vh, 1vh) * 100) - 62px) !important;
}
.app-sidebar .sidebar-content .ps__rail-y
{
    width: 10px !important; 

    background-color: transparent;
}
.app-sidebar .sidebar-content .ps__rail-y:hover .ps__thumb-y,
.app-sidebar .sidebar-content .ps__rail-y.ps--clicking .ps__thumb-y
{
    width: 8px !important; 

    background-color: rgba(255, 255, 255, .6);
}
.app-sidebar .sidebar-content .ps__thumb-x,
.app-sidebar .sidebar-content .ps__thumb-y
{
    background-color: rgba(255, 255, 255, .5);
}
.app-sidebar .logo-img
{
    display: inline-block;

    width: 30px;
    max-height: 30px;
    margin-left: 15px;
}
.app-sidebar .navigation
{
    margin-bottom: 0;
    padding-right: 0;

    list-style: none;
}
.app-sidebar .navigation li
{
    position: relative;

    display: block;
}
.app-sidebar .navigation li.has-sub > a:after
{
    font-family: 'feather';
    font-size: 1rem;

    position: absolute;
    top: 10px;
    left: 15px;

    display: inline-block;

    content: '\e844';
    -webkit-transition: all 200ms linear;
            transition: all 200ms linear; 
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}
.app-sidebar .navigation li.has-sub > a
{
    margin-bottom: 0;
}
.app-sidebar .navigation li.open > a:after
{
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.app-sidebar .navigation li.open > a
{
    background: rgba(224, 224, 224, .2);
}
.app-sidebar .navigation li > a
{
    line-height: 2rem;

    display: block;
    overflow: hidden;
    overflow: hidden;

    margin: 5px 0;
    padding: 10px 14px 10px 30px;

    -webkit-transition: all 300ms linear;
            transition: all 300ms linear;
    white-space: nowrap;
    text-overflow: ellipsis; 

    color: #fff;
    background-color: transparent;
}
.app-sidebar .navigation li:not(.open) > ul
{
    display: none;
}
.app-sidebar .navigation li:hover > a,
.app-sidebar .navigation li.active > a
{
    background: rgba(224, 224, 224, .2);
}
.app-sidebar .navigation li ul
{
    font-size: 1rem; 

    overflow: hidden;

    margin: 0;
    padding: 0;
}
.app-sidebar .navigation li ul li a
{
    display: block;

    padding: 8px 40px 8px 18px;
}
.app-sidebar .navigation li ul li ul li a
{
    padding: 8px 60px 8px 18px;
}
.app-sidebar .navigation .menu-title
{
    font-size: .95rem;
    font-weight: 400;

    height: auto;
    margin: 0;

    -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1); 
    letter-spacing: .6px;

    opacity: 1;
}
.app-sidebar .navigation .badge.badge-pill
{
    font-weight: 300;

    position: absolute;
    left: 28px;

    padding: 4px 8px;

    -webkit-transition: all .3s cubic-bezier(0, 0, .2, 1);
            transition: all .3s cubic-bezier(0, 0, .2, 1);
}
.app-sidebar .navigation i
{
    font-size: 1.2rem;
    line-height: 2rem;

    float: right;

    width: 30px;
    margin-left: 10px;

    text-align: center;

    opacity: .8;
}
.app-sidebar .navigation i.submenu-icon
{
    font-size: .8rem;

    width: inherit;
}
.app-sidebar .sidebar-background
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    display: block;

    width: 100%;
    height: 100%;

    background-position: center center; 
    background-size: cover;
}
.app-sidebar .sidebar-background:after
{
    position: absolute;
    z-index: 3;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    opacity: .95; 
    background: #fff;
    background-repeat: repeat-x;
}
.app-sidebar .logo
{
    position: relative;
    z-index: 4; 

    padding: .5rem .95rem .5rem 0;
}
.app-sidebar .logo p
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-size: 20px;
    line-height: 20px;

    float: right;

    margin: 10px 10px;

    color: #fff;
}
.app-sidebar .logo .logo-text
{
    font-size: 1.6rem;
    font-weight: 400; 

    display: block;

    padding: 5px 0;

    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;
}
.app-sidebar:after,
.app-sidebar:before
{
    position: absolute;
    z-index: 2; 
    top: 0;
    right: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
}
.app-sidebar:before
{
    opacity: .33;
}
.app-sidebar:after
{
    z-index: 3;

    opacity: 1;
}
.app-sidebar[data-image]:after,
.app-sidebar.has-image:after
{
    opacity: .77;
}
.app-sidebar[data-background-color='white']
{
    background-color: #fff;
}
.app-sidebar[data-background-color='white'] .sidebar-background:after
{
    opacity: .9; 
    background: #fff;
}
.app-sidebar[data-background-color='white'] .navigation i,
.app-sidebar[data-background-color='white'] .navigation li > a
{
    color: #000;
}
.app-sidebar[data-background-color='white'] .logo-text
{
    color: #000;
}
.app-sidebar[data-background-color='white'] .sidebar-header a.nav-toggle
{
    color: #000;
}
.app-sidebar[data-background-color='white'] .sidebar-header a.nav-close
{
    color: #000;
}
.app-sidebar[data-background-color='black']
{
    background-color: #000;
}
.app-sidebar[data-background-color='black'] .sidebar-background:after
{
    opacity: .85; 
    background: #000;
}
.app-sidebar[data-background-color='black'] .navigation i,
.app-sidebar[data-background-color='black'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='black'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='black'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='black'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='primary']
{
    background-color: #7441db;
}
.app-sidebar[data-background-color='primary'] .sidebar-background:after
{
    opacity: .95; 
    background: #7441db;
}
.app-sidebar[data-background-color='primary'] .navigation i,
.app-sidebar[data-background-color='primary'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='primary'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='primary'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='primary'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='info']
{
    background-color: #226cc5;
}
.app-sidebar[data-background-color='info'] .sidebar-background:after
{
    opacity: .95; 
    background: #226cc5;
}
.app-sidebar[data-background-color='info'] .navigation i,
.app-sidebar[data-background-color='info'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='info'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='info'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='info'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='success']
{
    background-color: #2ea54f;
}
.app-sidebar[data-background-color='success'] .sidebar-background:after
{
    opacity: .95; 
    background: #2ea54f;
}
.app-sidebar[data-background-color='success'] .navigation i,
.app-sidebar[data-background-color='success'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='success'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='success'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='success'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='warning']
{
    background-color: #d46010;
}
.app-sidebar[data-background-color='warning'] .sidebar-background:after
{
    opacity: .95; 
    background: #d46010;
}
.app-sidebar[data-background-color='warning'] .navigation i,
.app-sidebar[data-background-color='warning'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='warning'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='warning'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='warning'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='danger']
{
    background-color: #d23b48;
}
.app-sidebar[data-background-color='danger'] .sidebar-background:after
{
    opacity: .95; 
    background: #d23b48;
}
.app-sidebar[data-background-color='danger'] .navigation i,
.app-sidebar[data-background-color='danger'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='danger'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='danger'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='danger'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='mint']
{
    background-image: -webkit-linear-gradient(225deg, #1750a5, #40c057);
    background-image:         linear-gradient(-135deg, #1750a5, #40c057);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='mint'] .sidebar-background:after
{
    opacity: .95; 
    background-image: -webkit-linear-gradient(225deg, #1750a5, #40c057);
    background-image:         linear-gradient(-135deg, #1750a5, #40c057);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='mint'] .navigation i,
.app-sidebar[data-background-color='mint'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='mint'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='mint'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='mint'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna']
{
    background-image: -webkit-linear-gradient(225deg, #562db7, #f55252);
    background-image:         linear-gradient(-135deg, #562db7, #f55252);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='king-yna'] .sidebar-background:after
{
    opacity: .95; 
    background-image: -webkit-linear-gradient(225deg, #562db7, #f55252);
    background-image:         linear-gradient(-135deg, #562db7, #f55252);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='king-yna'] .navigation i,
.app-sidebar[data-background-color='king-yna'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='king-yna'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset']
{
    background-image: -webkit-linear-gradient(225deg, #8e1a38, #faa750);
    background-image:         linear-gradient(-135deg, #8e1a38, #faa750);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='ibiza-sunset'] .sidebar-background:after
{
    opacity: .95; 
    background-image: -webkit-linear-gradient(225deg, #8e1a38, #faa750);
    background-image:         linear-gradient(-135deg, #8e1a38, #faa750);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='ibiza-sunset'] .navigation i,
.app-sidebar[data-background-color='ibiza-sunset'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='ibiza-sunset'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr']
{
    background-image: -webkit-linear-gradient(225deg, #d46010, #226cc5);
    background-image:         linear-gradient(-135deg, #d46010, #226cc5);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='flickr'] .sidebar-background:after
{
    opacity: .95; 
    background-image: -webkit-linear-gradient(225deg, #d46010, #226cc5);
    background-image:         linear-gradient(-135deg, #d46010, #226cc5);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='flickr'] .navigation i,
.app-sidebar[data-background-color='flickr'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='flickr'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss']
{
    background-image: -webkit-linear-gradient(225deg, #3b1c93, #2f8be6);
    background-image:         linear-gradient(-135deg, #3b1c93, #2f8be6);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-bliss'] .sidebar-background:after
{
    opacity: .95; 
    background-image: -webkit-linear-gradient(225deg, #3b1c93, #2f8be6);
    background-image:         linear-gradient(-135deg, #3b1c93, #2f8be6);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-bliss'] .navigation i,
.app-sidebar[data-background-color='purple-bliss'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-bliss'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel']
{
    background-image: -webkit-linear-gradient(225deg, #2f3ea0, #ae342d);
    background-image:         linear-gradient(-135deg, #2f3ea0, #ae342d);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='man-of-steel'] .sidebar-background:after
{
    opacity: .95; 
    background-image: -webkit-linear-gradient(225deg, #2f3ea0, #ae342d);
    background-image:         linear-gradient(-135deg, #2f3ea0, #ae342d);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='man-of-steel'] .navigation i,
.app-sidebar[data-background-color='man-of-steel'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='man-of-steel'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love']
{
    background-image: -webkit-linear-gradient(225deg, #562db7, #c89cff);
    background-image:         linear-gradient(-135deg, #562db7, #c89cff);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-love'] .sidebar-background:after
{
    opacity: .95; 
    background-image: -webkit-linear-gradient(225deg, #562db7, #c89cff);
    background-image:         linear-gradient(-135deg, #562db7, #c89cff);
    background-repeat: repeat-x;
}
.app-sidebar[data-background-color='purple-love'] .navigation i,
.app-sidebar[data-background-color='purple-love'] .navigation li > a
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love'] .logo-text
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love'] .sidebar-header a.nav-toggle
{
    color: #fff;
}
.app-sidebar[data-background-color='purple-love'] .sidebar-header a.nav-close
{
    color: #fff;
}
.app-sidebar.menu-native-scroll .main-menu-content
{
    overflow-y: scroll;
}

.sidenav-overlay
{
    position: fixed;
    z-index: 997;
    top: 0;
    right: 0;
    left: 0;

    display: none; 

    height: calc(var(--vh, 1vh) * 100);

    background-color: rgba(0, 0, 0, .5);
}

.drag-target
{
    position: fixed;
    z-index: 1036; 
    top: 0;
    right: -20px;

    width: 40px;
    height: 100%;
}

.sidebar-header a.nav-toggle
{
    line-height: 20px;

    position: absolute;
    top: 25px;
    left: 14px;

    display: inline-block;

    width: 20px;
    height: 20px;

    text-align: center;

    color: rgba(255, 255, 255, .55);
}

.sidebar-header a.nav-close
{
    line-height: 20px;

    position: absolute;
    top: 24px;
    left: 14px;

    display: inline-block;

    width: 20px;
    height: 20px;

    text-align: center;

    color: #fff;
}

.main-panel
{
    position: relative;
    z-index: 2;

    float: left;

    -webkit-transition: .33s, cubic-bezier(.685, .0473, .346, 1);
            transition: .33s, cubic-bezier(.685, .0473, .346, 1);
}
.main-panel .main-content
{
    position: relative;

    min-height: calc((var(--vh, 1vh) * 100) - 7.39rem); 

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.main-panel div .footer
{
    border-top: 1px solid #eee;
}
.main-panel > .navbar
{
    margin-bottom: 0;
}

.bootstrap-navbar .navigation
{
    float: none; 

    margin-top: 20px;
}

.main-panel
{
    width: 100%;
}

.sidebar-sm.menu-expanded .app-sidebar,
.sidebar-sm.menu-open .app-sidebar
{
    right: 0; 

    width: 220px;
}

.sidebar-lg.menu-expanded .app-sidebar,
.sidebar-lg.menu-open .app-sidebar
{
    right: 0; 

    width: 280px;
}

@media (min-width: 1200px)
{
    .app-sidebar
    {
        right: 0;

        width: 250px;
    }
}

@media (max-width: 991.98px)
{
    body.nav-collapsed:not(.sidebar-sm) .navbar,
    body.nav-collapsed:not(.sidebar-lg) .navbar
    {
        margin-right: 0;
    }
    body.nav-collapsed:not(.sidebar-sm) .main-panel .main-content,
    body.nav-collapsed:not(.sidebar-lg) .main-panel .main-content
    {
        padding-right: 0;
    }
}

@media (min-width: 1200px)
{
    .drag-target
    {
        z-index: 0;
    }
    body.nav-collapsed .app-sidebar
    {
        width: 60px;
    }
    body.nav-collapsed:not(.sidebar-sm):not(.sidebar-lg) .app-sidebar:hover
    {
        width: 250px;
    }
    body.nav-collapsed.sidebar-sm .app-sidebar:hover
    {
        width: 220px;
    }
    body.nav-collapsed.sidebar-lg .app-sidebar:hover
    {
        width: 280px;
    }
    body.nav-collapsed:not(.horizontal-layout) .navbar
    {
        margin-right: 60px;
    }
    body.nav-collapsed:not(.horizontal-layout) .main-panel .main-content
    {
        margin-right: 60px;
    }
    body.nav-collapsed:not(.horizontal-layout) footer.footer
    {
        margin-right: 60px;
    }
}

@media (max-width: 1199.98px)
{
    .app-sidebar
    {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
}

#notification-sidebar
{
    position: fixed;
    z-index: 1051;
    top: 0;
    bottom: 0;
    left: -405px;

    width: 400px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;

    -webkit-transition: left .6s cubic-bezier(.05, .74, .2, .99);
            transition: left .6s cubic-bezier(.05, .74, .2, .99);

    background-color: #fff;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
#notification-sidebar.open
{
    left: 0;

    box-shadow: 8px 8px 14px 0 rgba(25, 42, 70, .11);
}
#notification-sidebar .notification-sidebar-close
{
    position: absolute;
    z-index: 10; 
    top: 10px;
    left: 10px;

    width: auto;
    padding: 7px;
}
#notification-sidebar .notification-sidebar-content
{
    position: relative;

    height: 100%;
    padding: 10px;
}
#notification-sidebar .notification-sidebar-content .timeline-left
{
    padding-right: 1.3rem;
}
#notification-sidebar .notification-sidebar-content .timeline-left .timeline-line
{
    width: 1px;
    margin-bottom: 4rem;
}
#notification-sidebar .notification-sidebar-content .timeline-left .timeline-item
{
    padding-bottom: 1rem;
}
#notification-sidebar .notification-sidebar-content .timeline-left .timeline-item:after
{
    border: none;
}
#notification-sidebar .notification-sidebar-content .timeline-left .timeline-item .activity-list-text
{
    margin-top: .7rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
#notification-sidebar .notification-sidebar-content .timeline-left .timeline-item .activity-list-text .notification-note
{
    border-radius: .35rem; 
    background-color: #f5f5f5;
}
#notification-sidebar .notification-sidebar-content .notification-tab-content
{
    position: relative;

    height: calc(100vh - 3.333333rem);
    height: calc(var(--vh, 1vh)*100 - 3.333333rem);
}
#notification-sidebar .notification-sidebar-content .notification-tab-content .ps__rail-y
{
    left: 5px;
}

.cd-horizontal-timeline
{
    margin: 2em auto;

    -webkit-transition: opacity .2s;
            transition: opacity .2s; 

    opacity: 0;
}
.cd-horizontal-timeline::before
{
    display: none; 

    content: 'mobile';
}
.cd-horizontal-timeline.loaded
{
    opacity: 1;
}
.cd-horizontal-timeline .timeline
{
    position: relative;

    width: 90%;
    height: 100px;
    margin: 0 auto;
}
.cd-horizontal-timeline .timeline:before,
.cd-horizontal-timeline .timeline:after
{
    display: none;
}
.cd-horizontal-timeline .timeline ul li,
.cd-horizontal-timeline .timeline ol li
{
    list-style: none;
}
.cd-horizontal-timeline .timeline .events-wrapper
{
    position: relative;

    overflow: hidden; 

    height: 100%;
    margin: 0 40px;
}
.cd-horizontal-timeline .timeline .events-wrapper .events
{
    position: absolute;
    z-index: 1;
    top: 49px;
    right: 0;

    height: 2px;

    -webkit-transition: -webkit-transform .4s;
            transition: -webkit-transform .4s;
            transition:         transform .4s;
            transition:         transform .4s, -webkit-transform .4s; 

    background: #efdeff;
}
.cd-horizontal-timeline .timeline .events-wrapper .events .filling-line
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform .3s;
            transition: -webkit-transform .3s;
            transition:         transform .3s;
            transition:         transform .3s, -webkit-transform .3s; 
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;

    background-color: #975aff;
}
.cd-horizontal-timeline .events a
{
    position: absolute;
    z-index: 2;
    bottom: 0;

    padding-bottom: 15px;

    text-align: center;

    color: #342e49;
}
.cd-horizontal-timeline .events a::after
{
    position: absolute;
    right: 50%;
    bottom: -5px;
    left: auto;

    width: 12px;
    height: 12px;

    content: '';
    -webkit-transition: all .25s ease;
    -webkit-transition: background-color .3s, border-color .3s;
            transition: all .25s ease;
            transition: background-color .3s, border-color .3s; 
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);

    border: 2px solid #efdeff;
    border-radius: 50%;
    background-color: #fff;
}
.cd-horizontal-timeline .events a:hover::after
{
    border-color: #975aff; 
    background-color: #975aff !important;
}
.cd-horizontal-timeline .events a.selected
{
    pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after
{
    border-color: #975aff; 
    background-color: #975aff;
}
.cd-horizontal-timeline .events a.older-event::after
{
    border-color: #975aff;
}
@media only screen and (min-width: 1100px)
{
    .cd-horizontal-timeline
    {
        margin: 4rem auto;
    }
    .cd-horizontal-timeline::before
    {
        content: 'desktop';
    }
}
.cd-horizontal-timeline .events-content
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 2rem 0;

    -webkit-transition: height .4s;
            transition: height .4s;
}
.cd-horizontal-timeline .events-content li
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 100%;
    padding: 0 5%;

    list-style: none;

    -webkit-transition: all .25s ease;
            transition: all .25s ease;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; 

    opacity: 0;
}
.cd-horizontal-timeline .events-content li.selected
{
    position: relative;
    z-index: 2;

    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); 

    opacity: 1;
}
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right
{
    -webkit-animation-name: cd-enter-right;
            animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left
{
    -webkit-animation-name: cd-enter-left;
            animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left
{
    animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > *
{
    margin: 0 auto;
}
.cd-horizontal-timeline .events-content p
{
    line-height: 1.6;
}

.cd-timeline-navigation a
{
    position: absolute;
    z-index: 1;

    overflow: hidden;

    width: 34px;
    height: 34px;

    -webkit-transition: border-color .3s;
            transition: border-color .3s; 
    white-space: nowrap;
    text-indent: 100%;

    border: 2px solid #efdeff;
    border-radius: 50%;
    background-color: #fff;
}
.cd-timeline-navigation a::after
{
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: auto;
    left: auto;

    width: 16px;
    height: 16px;

    content: '';
    -webkit-transition: all .25s ease;
            transition: all .25s ease;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);

    background: url(../img/svg/cd-arrow.svg) no-repeat 100% 0;
}
.cd-timeline-navigation a.prev
{
    top: 60%;
    right: 25px;

    -webkit-transform: translateY(-50%) rotate(-180deg);
        -ms-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
}
.cd-timeline-navigation a.next
{
    top: 43%;
    left: 8px;
}
.cd-timeline-navigation a:hover
{
    border-color: #975aff;
}
.cd-timeline-navigation a.inactive
{
    cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after
{
    background-position: 100% -16px;
}
.cd-timeline-navigation a.inactive:hover
{
    border-color: #efdeff;
}

@-webkit-keyframes cd-enter-right
{
    0%
    {
        -webkit-transform: translateX(-100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%); 

        opacity: 1;
    }
}

@keyframes cd-enter-right
{
    0%
    {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%);
                transform: translateX(0%); 

        opacity: 1;
    }
}

@-webkit-keyframes cd-enter-left
{
    0%
    {
        -webkit-transform: translateX(100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%); 

        opacity: 1;
    }
}

@keyframes cd-enter-left
{
    0%
    {
        -webkit-transform: translateX(100%);
                transform: translateX(100%); 

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%);
                transform: translateX(0%); 

        opacity: 1;
    }
}

.timeline
{
    position: relative;

    margin: 0;
    padding: 10px 0;
}
.timeline:after
{
    display: table;
    clear: both; 

    content: '';
}
.timeline:before
{
    display: table; 

    content: '';
}
.timeline > li:nth-child(even)
{
    float: right;
    clear: right;
}
.timeline > li:nth-child(odd)
{
    float: left;
    clear: left;
}
.timeline .timeline-line
{
    position: absolute;
    top: 0;
    bottom: 0;

    display: inline-block;

    width: 2px;

    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0); 

    background-color: #e0e0e0;
}
.timeline .timeline-group
{
    position: relative;
    z-index: 1; 

    display: block;
    float: none !important;

    text-align: center;
}
.timeline .timeline-item
{
    line-height: inherit; 

    position: relative;

    display: inline-block;
}
.timeline .timeline-item .timeline-card .progress .progress-bar
{
    border-radius: 0;
}
.timeline .timeline-item > .timeline-badge
{
    position: absolute;
    z-index: 1; 
    top: 12px;
}
.timeline .timeline-item > .timeline-badge > span
{
    display: inline-block;

    width: 40px;
    height: 40px;

    cursor: pointer;
    -webkit-transition: all ease .3s;
            transition: all ease .3s; 
    text-align: center;

    border-radius: 50%;
}
.timeline .timeline-item > .timeline-badge > span:active,
.timeline .timeline-item > .timeline-badge > span:focus,
.timeline .timeline-item > .timeline-badge > span:hover
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.timeline .timeline-item > .timeline-badge > span i
{
    font-size: 1.4rem;
    line-height: 40px;
}

.timeline-center .timeline-line
{
    right: 50%;
}

.timeline-center .timeline-item
{
    width: 50%;
    padding: 0 50px 35px;
}
.timeline-center .timeline-item:nth-child(even)
{
    padding: 0 0 30px 35px;
}
.timeline-center .timeline-item:nth-child(even):after
{
    position: absolute;
    z-index: 0;
    top: 32px;
    left: 14px;

    width: 1.4rem;

    content: '';

    border: 1px dashed #e0e0e0;
}
.timeline-center .timeline-item:nth-child(even) > .timeline-badge
{
    left: -20px;
}
.timeline-center .timeline-item:nth-child(odd)
{
    padding: 0 35px 30px 0;
}
.timeline-center .timeline-item:nth-child(odd):after
{
    position: absolute;
    z-index: 0;
    top: 32px;
    right: 20px;

    width: 1rem;

    content: '';

    border: 1px dashed #e0e0e0;
}
.timeline-center .timeline-item:nth-child(odd) > .timeline-badge
{
    right: -20px;
}
.timeline-center .timeline-item.center-block
{
    width: 100%;
    margin-top: 5px;
    padding: 0 0 30px !important;
}
.timeline-center .timeline-item.center-block > .timeline-badge
{
    top: -28px;
    left: auto !important;

    width: 100%;

    text-align: center;
}
.timeline-center .timeline-item.center-block:after
{
    display: none;
}

.timeline-right .timeline-line
{
    left: 12px;
}

.timeline-right .timeline-group
{
    text-align: left;
}

.timeline-right .timeline-item
{
    width: 100%;
    padding: 0 0 2.333333rem 3.2rem;
}
.timeline-right .timeline-item:after
{
    position: absolute;
    z-index: 0;
    top: 32px;
    left: 32px;

    width: 1rem;

    content: '';

    border: 1px dashed #e0e0e0;
}
.timeline-right .timeline-item > .timeline-badge
{
    left: -8px;
}
.timeline-right .timeline-item.right-block:after
{
    left: 15px;

    width: 2.2rem;
}

.timeline-left .timeline-line
{
    right: 12px;
}

.timeline-left .timeline-group
{
    text-align: right;
}

.timeline-left .timeline-item
{
    width: 100%;
    padding: 0 3.2rem 2.333333rem 0;
}
.timeline-left .timeline-item:after
{
    position: absolute;
    z-index: 0;
    top: 32px;
    right: 32px;

    width: 1rem;

    content: '';

    border: 1px dashed #e0e0e0;
}
.timeline-left .timeline-item > .timeline-badge
{
    right: -8px;
}
.timeline-left .timeline-item.left-block:after
{
    right: 13px;

    width: 2.3rem;
}

@media (max-width: 991px)
{
    .timeline-center .timeline-item
    {
        display: block !important;
        float: none !important;
        clear: both !important; 

        width: 100% !important;
        margin-top: 0 !important;
        padding: 20px 0 20px !important;
    }
    .timeline-center .timeline-item:after,
    .timeline-center .timeline-item:before
    {
        display: none;
    }
    .timeline-center .timeline-item > .timeline-badge
    {
        top: -12px !important;
        right: auto !important;
        left: auto !important;

        width: 100%;

        text-align: center;
    }
    .timeline-center .timeline-item .bg-transparent
    {
        background-color: #f7f7f8 !important;
    }
}

@media (max-width: 575px)
{
    .timeline-wrapper
    {
        padding: 0;
    }
}
